.App {
    text-align: center;
    background: #282c34;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 50px;
    font-size: 45px;
    padding: 20px;
    font-weight: bold;
}

.score {
    margin: 20px 0 40px;
}

.cards {
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 460px;
    display: grid;
    gap: 20px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr) ;
}

.popup-content {
    background: #2b9595;
    border: 0;
    border-radius: 5px;
    color: white;
    max-width: 270px;
    text-align: center;
    padding: 20px;
}

.popup-content .close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 24px;
}